@CHARSET "UTF-8";
#redevent-admin ul.inline, ol.inline {
    list-style: none outside none;
    margin-left: 0;
}

#redadmin-toolbar ul {
    float:right;
}

#redevent-admin .breadcrumb {
    float: right;
}

#redevent-admin ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

#redevent-admin .clear {
	clear:both;
}

#redevent-admin .nouser {
	border: 1px dashed;
	padding: 4px;
	margin: 5px 0;
}

#redevent-admin div.notice {
	font-weight: bold;
	font-size: 1.1em;
}

#redevent-admin .btn {
	margin: 3px 0;
}

#redevent-admin .editmember-menu {
	float: right;
}

#redevent-admin .pagenav {
	clear: none;
}

ul.autocompleter-choices {
    position:absolute;
    margin:0;
    padding:0;
    list-style:none;
    border:1px solid #EEEEEE;
    background-color:white;
    border-right-color:#DDDDDD;
    border-bottom-color:#DDDDDD;
    text-align:left;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    z-index:50;
}

ul.autocompleter-choices li {
    background:none;
    position:relative;
    padding:0.1em 1.5em 0.1em 1em;
    cursor:pointer;
    font-weight:normal;
    font-size:1em;
}

ul.autocompleter-choices li.autocompleter-selected {
    background-color:#444;
    color:#fff;
}

ul.autocompleter-choices span.autocompleter-queried {
    font-weight:bold;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
    color:#9FCFFF;
}

#b2b-login {
    width: 400px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
