<?xml version="1.0" encoding="utf-8"?>
<config>

	<params addpath="/administrator/components/com_redevent/elements">
		
		<param name="cat_num" type="text" size="2" default="4" label="CAT DISPLAY" description="CAT DISPLAY DESC" />	
		<param name="details_layout" type="radio" default="fixed" label="COM_REDEVENT_SETTINGS_DETAILS_LAYOUT" description="COM_REDEVENT_SETTINGS_DETAILS_LAYOUT_DESC">
			<option value="default">COM_REDEVENT_SETTINGS_DETAILS_LAYOUT_TAGS</option>
			<option value="fixed">COM_REDEVENT_SETTINGS_DETAILS_LAYOUT_FIXED</option>
		</param>
		<param name="icons" type="radio" default="1" label="SHOW ICONS" description="SHOW ICONS DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_print_icon" type="radio" default="1" label="PRINT ICON" description="PRINT ICON DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_email_icon" type="radio" default="1" label="EMAIL ICON" description="EMAIL ICON DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
    <param name="show_gotoarchive_icon" type="radio" default="1" label="GO TO ARCHIVE ICON" description="GO TO ARCHIVE ICON DESC">
      <option value="0">Hide</option>
      <option value="1">Show</option>
    </param>
    <param name="show_thumb_icon" type="radio" default="1" label="COM_REDEVENT_SHOW_THUMBNAIL_ICON" description="COM_REDEVENT_SHOW_THUMBNAIL_ICON_DESC">
      <option value="0">Hide</option>
      <option value="1">Show</option>
    </param>
    <param name="details_attendees_links" type="list" default="0" label="COM_REDEVENT_SETTINGS_DETAILS_SHOW_ATTENDEES_LINKS_LABEL" description="COM_REDEVENT_SETTINGS_DETAILS_SHOW_ATTENDEES_LINKS_DESC">
      <option value="0">COM_REDEVENT_SETTINGS_DETAILS_SHOW_ATTENDEES_LINKS_CURRENT_SESSION</option>
      <option value="1">COM_REDEVENT_SETTINGS_DETAILS_SHOW_ATTENDEES_LINKS_ALL_SESSIONS</option>
    </param> 	 
    <param name="details_attendees_layout" type="list" default="0" label="DETAILS ATTENDEES LAYOUT" description="DETAILS ATTENDEES LAYOUT TIP">
      <option value="0">Table</option>
      <option value="1">List</option>
    </param> 	  
    <param name="custom_css" type="text" default="" size="60" label="CUSTOM CSS PATH" description="CUSTOM CSS PATH DESC"/>
    <param name="event_ics" type="radio" default="1" label="COM_REDEVENT_SETTINGS_SHOW_EVENT_ICAL" description="COM_REDEVENT_SETTINGS_SHOW_EVENT_ICAL_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    
    <param name="use_default_picture" type="radio" default="1" label="COM_REDEVENT_SETTINGS_USE_DEFAULT_PICTURE" description="COM_REDEVENT_SETTINGS_USE_DEFAULT_PICTURE_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    
    <param name="showmapserv" type="radio" default="1" label="COM_REDEVENT_SETTINGS_ACTIVATE_VENUE_MAP_LABEL" description="COM_REDEVENT_SETTINGS_ACTIVATE_VENUE_MAP_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>

		<param type="respacer" default="COM_REDEVENT_SETTINGS_SEPARATOR_LISTS_LAYOUT"/>
		<param name="display" type="radio" default="1" label="DISPLAY SELECT" description="DISPLAY SELECT DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="display_num" type="list" default="15" label="EVENT NUMBER" description="EVENT NUMBER TIP">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">25</option>
			<option value="30">30</option>
			<option value="50">50</option>
		</param>	
  	<param name="filter_toggle" type="list" default="3" label="COM_REDEVENT_SETTINGS_FILTER_TOGGLE" description="COM_REDEVENT_SETTINGS_FILTER_TOGGLE_DESC">
			<option value="0">COM_REDEVENT_SETTINGS_FILTER_TOGGLE_OPTION_OFF_SHOW_FILTERS</option>
			<option value="1">COM_REDEVENT_SETTINGS_FILTER_TOGGLE_OPTION_OFF_HIDE_FILTERS</option>
			<option value="2">COM_REDEVENT_SETTINGS_FILTER_TOGGLE_OPTION_ON_SHOW_FILTERS</option>
			<option value="3">COM_REDEVENT_SETTINGS_FILTER_TOGGLE_OPTION_ON_HIDE_FILTERS</option>
		</param>
  	<param name="filter_text" type="radio" default="1" label="COM_REDEVENT_SETTINGS_FILTER_TEXT" description="COM_REDEVENT_SETTINGS_FILTER_TEXT_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
  	<param name="filter_type_event" type="radio" default="1" label="COM_REDEVENT_SETTINGS_FILTER_TYPE_EVENT" description="COM_REDEVENT_SETTINGS_FILTER_TYPE_EVENT_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
  	<param name="filter_type_category" type="radio" default="1" label="COM_REDEVENT_SETTINGS_FILTER_TYPE_CATEGORY" description="COM_REDEVENT_SETTINGS_FILTER_TYPE_CATEGORY_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
  	<param name="filter_type_venue" type="radio" default="1" label="COM_REDEVENT_SETTINGS_FILTER_TYPE_VENUE" description="COM_REDEVENT_SETTINGS_FILTER_TYPE_VENUE_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
  	<param name="filter_type_city" type="radio" default="1" label="COM_REDEVENT_SETTINGS_FILTER_TYPE_CITY" description="COM_REDEVENT_SETTINGS_FILTER_TYPE_CITY_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
  	<param name="lists_filter_event" type="radio" default="0" label="COM_REDEVENT_SETTINGS_LISTS_FILTER_EVENT" description="COM_REDEVENT_SETTINGS_LISTS_FILTER_EVENT_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
  	<param name="lists_filter_category" type="radio" default="1" label="COM_REDEVENT_SETTINGS_LISTS_FILTER_CATEGORY" description="COM_REDEVENT_SETTINGS_LISTS_FILTER_CATEGORY_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
  	<param name="lists_filter_venue" type="radio" default="1" label="COM_REDEVENT_SETTINGS_LISTS_FILTER_VENUE" description="COM_REDEVENT_SETTINGS_LISTS_FILTER_VENUE_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		
		
		<param name="lists_columns" type="text" size="80" default="date, title, venue, city, category" label="COM_REDEVENT_SETTINGS_LISTS_COLUMNS_LABEL" description="COM_REDEVENT_SETTINGS_LISTS_COLUMNS_DESC" />
		<param name="lists_columns_names" type="text" size="80" default="date, title, venue, city, category" label="COM_REDEVENT_SETTINGS_LISTS_COLUMNS_NAMES_LABEL" description="COM_REDEVENT_SETTINGS_LISTS_COLUMNS_NAMES_DESC" />

  	<param name="catlinklist" type="radio" default="1" label="COM_REDEVENT_SETTINGS_LISTS_CATEGORY_LINK_LABEL" description="COM_REDEVENT_SETTINGS_LISTS_CATEGORY_LINK_DESC">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
  	<param name="showlinkvenue" type="radio" default="1" label="COM_REDEVENT_SETTINGS_LISTS_VENUE_LINK_LABEL" description="COM_REDEVENT_SETTINGS_LISTS_VENUE_LINK_DESC">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		
  	<param name="lists_show_time" type="radio" default="1" label="COM_REDEVENT_SETTINGS_LISTS_SHOW_TIME_LABEL" description="COM_REDEVENT_SETTINGS_LISTS_SHOW_TIME_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
    
    <param name="lists_show_custom_tip" type="radio" default="1" label="COM_REDEVENT_SETTINGS_LISTS_SHOW_CUSTOM_TIP_LABEL" description="COM_REDEVENT_SETTINGS_LISTS_SHOW_CUSTOM_TIP_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    
    <param name="lists_showend" type="radio" default="1" label="COM_REDEVENT_SETTINGS_LISTS_SHOW_END" description="COM_REDEVENT_SETTINGS_LISTS_SHOW_END_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    
    <param name="events_rsscal" type="radio" default="0" label="COM_REDEVENT_SETTINGS_SHOW_EVENTS_RSSCAL" description="COM_REDEVENT_SETTINGS_SHOW_EVENTS_RSSCAL_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="events_ical" type="radio" default="1" label="COM_REDEVENT_SETTINGS_SHOW_EVENTS_ICAL" description="COM_REDEVENT_SETTINGS_SHOW_EVENTS_ICAL_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="ical_max_items" type="text" default="100" label="COM_REDEVENT_SETTINGS_ICAL_MAX_ITEMS" description="COM_REDEVENT_SETTINGS_ICAL_MAX_ITEMS_DESC" />
    
		<param type="respacer" default="COM_REDEVENT_SETTINGS_SEPARATOR_SEO"/>    
    <param name="default_itemid" type="text" default="" label="COM_REDEVENT_SETTINGS_DEFAULT_ITEMID" description="COM_REDEVENT_SETTINGS_DEFAULT_ITEMID_DESC"/>
 	</params>
 	
 	<params group="pasteventssettings">
    <param name="pastevents_action" type="list" default="0" label="PAST EVENTS ACTION" description="PAST EVENTS ACTION TIP">
      <option value="0">DO NOTHING</option>
      <option value="1">DELETE OLD EVENTS</option>
      <option value="2">ARCHIVE OLD EVENTS</option>
    </param>
    <param name="pastevents_delay" type="text" default="2" label="PAST EVENTS DELAY" description="PAST EVENTS DELAY TIP" />
    <param name="pastevents_reference_date" type="list" default="end" label="PAST EVENTS REFERENCE DATE" description="PAST EVENTS REFERENCE DATE TIP">
      <option value="end">END DATE</option>
      <option value="start">START DATE</option>
      <option value="registration">REGISTRATION DATE</option>
    </param>
 	</params>
 	
 	<params group="frontendeventsubmit">
 	  <param type="respacer" default="SETTINGS FRONTEND TIP"/>
		<param name="event_template" type="event" default="0" label="SETTINGS FRONTEND EVENT TEMPLATE" description="SETTINGS FRONTEND EVENT TEMPLATE TIP" />
    <param name="edit_categories" type="radio" default="0" label="SETTINGS FRONTEND EDIT CATEGORY" description="SETTINGS FRONTEND EDIT CATEGORY TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_customs" type="radio" default="0" label="SETTINGS FRONTEND EDIT CUSTOM FIELDS" description="SETTINGS FRONTEND EDIT CUSTOM FIELDS TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_image" type="list" default="1" label="COM_REDEVENT_SETTINGS_FRONTEND_SUBMIT_IMAGE_LABEL" description="COM_REDEVENT_SETTINGS_FRONTEND_S_IMAGE_DESC">
      <option value="0">COM_REDEVENT_SETTINGS_FRONTEND_SUBMIT_IMAGE_DISABLED</option>
      <option value="1">COM_REDEVENT_SETTINGS_FRONTEND_SUBMIT_IMAGE_OPTIONAL</option>
      <option value="2">COM_REDEVENT_SETTINGS_FRONTEND_SUBMIT_IMAGE_REQUIRED</option>
    </param>
    <param name="edit_summary" type="radio" default="1" label="SETTINGS FRONTEND EDIT SUMMARY" description="SETTINGS FRONTEND EDIT SUMMARY TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_description" type="radio" default="0" label="SETTINGS FRONTEND EDIT DESCRIPTION" description="SETTINGS FRONTEND EDIT DESCRIPTION TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_description_allow_editor" type="radio" default="1" label="SETTINGS FRONTEND EDIT DESCRIPTION ALLOW EDITOR" description="SETTINGS FRONTEND EDIT DESCRIPTION ALLOW EDITOR TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="max_description" type="text" default="1000" label="COM_REDEVENT_SETTINGS_FRONTEND_MAX_DESCRIPTION_LABEL" description="COM_REDEVENT_SETTINGS_FRONTEND_MAX_DESCRIPTION_DESC" />
    <param name="edit_registration" type="radio" default="0" label="SETTINGS FRONTEND EDIT REGISTRATION" description="SETTINGS FRONTEND EDIT REGISTRATION TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_registration_end" type="radio" default="1" label="SETTINGS FRONTEND EDIT REGISTRATION END" description="SETTINGS FRONTEND EDIT REGISTRATION END TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_price" type="radio" default="0" label="SETTINGS FRONTEND EDIT PRICE" description="SETTINGS FRONTEND EDIT PRICE TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_credits" type="radio" default="0" label="SETTINGS FRONTEND EDIT CREDITS" description="SETTINGS FRONTEND EDIT CREDITS TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_roles" type="radio" default="0" label="SETTINGS FRONTEND EDIT ROLES" description="SETTINGS FRONTEND EDIT ROLES TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="create_session" type="radio" default="1" label="SETTINGS FRONTEND CREATE SESSION" description="SETTINGS FRONTEND CREATE SESSION TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="allow_attachments" type="radio" default="1" label="COM_REDEVENT_SETTINGS_FRONTEND_ALLOW_ATTACHMENTS_LABEL" description="COM_REDEVENT_SETTINGS_FRONTEND_ALLOW_ATTACHMENTS_TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
 	</params>
 	
 	<params group="registration">
 	  <param type="respacer" default="COM_REDEVENT_SETTINGS_TAGS_LINK"/>
    <param name="registration_default_recipients" type="text" default="" size="80" label="REDEVENT_SETTINGS_REGISTRATION_DEFAULT_RECIPIENTS" description="REDEVENT_SETTINGS_REGISTRATION_DEFAULT_RECIPIENTS_TIP"/>
    <param name="registration_notify_creator" type="radio" default="1" label="REDEVENT_SETTINGS_REGISTRATION_NOTIFY_CREATOR" description="REDEVENT_SETTINGS_REGISTRATION_NOTIFY_CREATOR_TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
 		<param name="registration_notification_subject" type="text" size="80" default="New registration for event [event_title] on [date]" label="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_SUBJECT" description="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_SUBJECT_TIP" />
 		<param name="registration_notification_body" type="textarea" cols="80" rows="5" default="registration details&lt;br /&gt;&lt;br /&gt;[answers]" label="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_BODY" description="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_BODY_TIP" />
 		
    <param name="registration_notification_attach_rfuploads" type="radio" default="1" label="COM_REDEVENT_SETTINGS_REGISTRATION_ATTACH_RF_UPLOADS_LABEL" description="COM_REDEVENT_SETTINGS_REGISTRATION_ATTACH_RF_UPLOADS_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="registration_notification_attach_rfuploads_maxsize" type="text" size="20" default="2000" label="COM_REDEVENT_SETTINGS_REGISTRATION_ATTACH_RF_UPLOADS_MAXSIZE_LABEL" description="COM_REDEVENT_SETTINGS_REGISTRATION_ATTACH_RF_UPLOADS_MAXSIZE_DESC" />
    
 	</params>
 	
 	<params group="REDEVENT_SETTINGS_REMINDER">
 	  <param type="respacer" default="COM_REDEVENT_SETTINGS_TAGS_LINK"/>
		<param name="reminder_status" type="list" default="1" label="REDEVENT_SETTINGS_REMINDER_STATUS_LABEL" description="REDEVENT_SETTINGS_REMINDER_STATUS_DESC">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="reminder_include_waiting" type="list" default="0" label="REDEVENT_SETTINGS_REMINDER_INCLUDE_WAITING_LABEL" description="REDEVENT_SETTINGS_REMINDER_INCLUDE_WAITING_DESC">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="reminder_days" type="text" size="2" default="14" label="REDEVENT_SETTINGS_REMINDER_DAYS_LABEL" description="REDEVENT_SETTINGS_REMINDER_DAYS_DESC" />
		<param name="reminder_subject" type="text" size="80" default="Reminder: you are registered to [event_title]@[venue_title] on [date]" label="REDEVENT_SETTINGS_REMINDER_SUBJECT_LABEL" description="REDEVENT_SETTINGS_REMINDER_SUBJECT_DESC" />
		<param name="reminder_body" type="textarea" cols="80" rows="5" default="You are registered to [event_title]@[venue_title] on [date]" label="REDEVENT_SETTINGS_REMINDER_BODY_LABEL" description="REDEVENT_SETTINGS_REMINDER_BODY_DESC" />
 	</params>
 	
 	<params group="COM_REDEVENT_SETTINGS_ATTACHMENTS">
    <param name="attachments_path" type="text" size="100" default="media/com_redevent/attachments" label="COM_REDEVENT_SETTINGS_ATTACHMENT_PATH" description="COM_REDEVENT_SETTINGS_ATTACHMENT_PATH_DESC" />
    <param name="attachments_maxsize" type="text" size="15" default="1000" label="COM_REDEVENT_SETTINGS_ATTACHMENT_MAXSIZE" description="COM_REDEVENT_SETTINGS_ATTACHMENT_MAXSIZE_DESC" />
    <param name="attachments_types" type="text" size="100" default="txt,csv,htm,html,xml,css,doc,xls,rtf,ppt,pdf,swf,flv,avi,wmv,mov,jpg,jpeg,gif,png,zip,tar.gz" label="COM_REDEVENT_SETTINGS_ATTACHMENT_TYPES" description="COM_REDEVENT_SETTINGS_ATTACHMENT_TYPES_DESC" />
 	</params>
 	
 	<params group="sh404sef">
    <param name="sh404sef_always_include_menu_title" type="radio" default="0" label="REDEVENT_SH404SEF_ALWAYS_INSERT_MENU_TITLE" description="REDEVENT_SH404SEF_ALWAYS_INSERT_MENU_TITLE_TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="sh404sef_always_include_itemid" type="radio" default="0" label="REDEVENT_SH404SEF_ALWAYS_INSERT_ITEMID" description="REDEVENT_SH404SEF_ALWAYS_INSERT_ITEMID_TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
 	</params>
 	
 	<params group="COM_REDEVENT_SETTINGS_MISC">
    <param name="week_start" type="radio" default="MO" label="WEEK START" description="WEEK START DESC">
      <option value="SU">SUNDAY</option>
      <option value="MO">MONDAY</option>
    </param>
    <param name="recurrence_limit" type="text" default="30" label="RECURRENCE ANTICIPATION WINDOW" description="RECURRENCE ANTICIPATION WINDOW DESC" />
		<param name="default_content" type="event" default="0" label="SELECT EVENT DEFAULT CONTENT" description="SELECT EVENT DEFAULT CONTENT DESC" />
    <param name="allow_email_aliasing" type="radio" default="1" label="COM_REDEVENT_SETTINGS_MISC_ALLOW_EMAIL_ALIASING" description="COM_REDEVENT_SETTINGS_MISC_ALLOW_EMAIL_ALIASING_TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param> 	
    <param name="csv_export_strip_linebreaks" type="radio" default="0" label="COM_REDEVENT_SETTINGS_CSV_EXPORT_STRIP_LINEBREAKS_LABEL" description="COM_REDEVENT_SETTINGS_CSV_EXPORT_STRIP_LINEBREAKS_DESC">
      <option value="0">No</option>"component/admin/languages/en-GB.com_redevent.ini"
      <option value="1">Yes</option>
    </param> 
    <param name="cat_select_ordering" type="list" default="0" label="COM_REDEVENT_SETTINGS_CAT_SELECT_ORDERING_LABEL" description="COM_REDEVENT_SETTINGS_CAT_SELECT_ORDERING_DESC">
      <option value="0">COM_REDEVENT_SETTINGS_CAT_SELECT_ORDERING_PARENT</option>
      <option value="1">COM_REDEVENT_SETTINGS_CAT_SELECT_ORDERING_NAME</option>
    </param> 
 	</params>
 	
 	<params group="COM_REDEVENT_SETTINGS_SOCIAL">
    <param name="gplusone" type="radio" default="0" label="COM_REDEVENT_SETTINGS_SOCIAL_GOOGLEPLUSONE_LABEL" description="COM_REDEVENT_SETTINGS_SOCIAL_GOOGLEPLUSONE_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param type="respacer" />
    <param name="fbopengraph" type="radio" default="0" label="COM_REDEVENT_SETTINGS_SOCIAL_FBOPENGRAPH_LABEL" description="COM_REDEVENT_SETTINGS_SOCIAL_FBOPENGRAPH_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>    
    <param name="fbadmin" type="text" default="" label="COM_REDEVENT_SETTINGS_SOCIAL_FBOPENGRAPH_ADMIN_LABEL" description="COM_REDEVENT_SETTINGS_SOCIAL_FBOPENGRAPH_ADMIN_DESC"/>
    <param type="respacer" />
    <param name="tweet" type="radio" default="0" label="COM_REDEVENT_SETTINGS_SOCIAL_TWEET_BUTTON_LABEL" description="COM_REDEVENT_SETTINGS_SOCIAL_TWEET_BUTTON_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="tweet_recommend" type="text" default="" label="COM_REDEVENT_SETTINGS_SOCIAL_TWEET_RECOMMEND_LABEL" description="COM_REDEVENT_SETTINGS_SOCIAL_TWEET_RECOMMEND_DESC"/>
    <param name="tweet_recommend2" type="text" default="" label="COM_REDEVENT_SETTINGS_SOCIAL_TWEET_RECOMMEND2_LABEL" description="COM_REDEVENT_SETTINGS_SOCIAL_TWEET_RECOMMEND2_DESC"/>
    <param name="tweet_recommend2_text" type="text" default="" label="COM_REDEVENT_SETTINGS_SOCIAL_TWEET_RECOMMEND2_TEXT_LABEL" description="COM_REDEVENT_SETTINGS_SOCIAL_TWEET_RECOMMEND2_TEXT_DESC"/>
 	</params>
</config>