<?xml version="1.0" encoding="utf-8"?>
<config>

	<params addpath="/administrator/components/com_redevent/elements">
		<param name="display_num" type="list" default="15" label="EVENT NUMBER" description="EVENT NUMBER TIP">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">25</option>
			<option value="30">30</option>
			<option value="50">50</option>
		</param>
		<param name="cat_num" type="text" size="2" default="4" label="CAT DISPLAY" description="CAT DISPLAY DESC" />
  		<param name="filter" type="radio" default="1" label="FILTER" description="FILTER DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="display" type="radio" default="1" label="DISPLAY SELECT" description="DISPLAY SELECT DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="icons" type="radio" default="1" label="SHOW ICONS" description="SHOW ICONS DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_print_icon" type="radio" default="1" label="PRINT ICON" description="PRINT ICON DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_email_icon" type="radio" default="1" label="EMAIL ICON" description="EMAIL ICON DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
    <param name="show_gotoarchive_icon" type="radio" default="1" label="GO TO ARCHIVE ICON" description="GO TO ARCHIVE ICON DESC">
      <option value="0">Hide</option>
      <option value="1">Show</option>
    </param>
    <param name="week_start" type="radio" default="MO" label="WEEK START" description="WEEK START DESC">
      <option value="SU">SUNDAY</option>
      <option value="MO">MONDAY</option>
    </param>
    <param name="recurrence_limit" type="text" default="30" label="RECURRENCE ANTICIPATION WINDOW" description="RECURRENCE ANTICIPATION WINDOW DESC" />
		<param name="default_content" type="event" default="0" label="SELECT EVENT DEFAULT CONTENT" description="SELECT EVENT DEFAULT CONTENT DESC" />
 	</params>
 	
 	<params group="Layout">
    <param name="details_attendees_layout" type="list" default="0" label="DETAILS ATTENDEES LAYOUT" description="DETAILS ATTENDEES LAYOUT TIP">
      <option value="0">Table</option>
      <option value="1">List</option>
    </param> 	  
    <param name="display_placesleft" type="radio" default="0" label="DISPLAY PLACES LEFT" description="DISPLAY PLACES LEFT DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="custom_css" type="text" default="" size="60" label="CUSTOM CSS PATH" description="CUSTOM CSS PATH DESC"/>
    <param name="event_ics" type="radio" default="1" label="COM_REDEVENT_SETTINGS_SHOW_EVENT_ICAL" description="COM_REDEVENT_SETTINGS_SHOW_EVENT_ICAL_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="events_rsscal" type="radio" default="0" label="COM_REDEVENT_SETTINGS_SHOW_EVENTS_RSSCAL" description="COM_REDEVENT_SETTINGS_SHOW_EVENTS_RSSCAL_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="events_ical" type="radio" default="1" label="COM_REDEVENT_SETTINGS_SHOW_EVENTS_ICAL" description="COM_REDEVENT_SETTINGS_SHOW_EVENTS_ICAL_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="ical_max_items" type="text" default="100" label="COM_REDEVENT_SETTINGS_ICAL_MAX_ITEMS" description="COM_REDEVENT_SETTINGS_ICAL_MAX_ITEMS_DESC" />
 	</params>
 	
 	<params group="pasteventssettings">
    <param name="pastevents_action" type="list" default="0" label="PAST EVENTS ACTION" description="PAST EVENTS ACTION TIP">
      <option value="0">DO NOTHING</option>
      <option value="1">DELETE OLD EVENTS</option>
      <option value="2">ARCHIVE OLD EVENTS</option>
    </param>
    <param name="pastevents_delay" type="text" default="2" label="PAST EVENTS DELAY" description="PAST EVENTS DELAY TIP" />
    <param name="pastevents_reference_date" type="list" default="end" label="PAST EVENTS REFERENCE DATE" description="PAST EVENTS REFERENCE DATE TIP">
      <option value="end">END DATE</option>
      <option value="start">START DATE</option>
      <option value="registration">REGISTRATION DATE</option>
    </param>
 	</params>
 	
 	<params group="frontendeventsubmit">
 	  <param type="spacer" default="SETTINGS FRONTEND TIP"/>
		<param name="event_template" type="event" default="0" label="SETTINGS FRONTEND EVENT TEMPLATE" description="SETTINGS FRONTEND EVENT TEMPLATE TIP" />
    <param name="edit_categories" type="radio" default="0" label="SETTINGS FRONTEND EDIT CATEGORY" description="SETTINGS FRONTEND EDIT CATEGORY TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_customs" type="radio" default="0" label="SETTINGS FRONTEND EDIT CUSTOM FIELDS" description="SETTINGS FRONTEND EDIT CUSTOM FIELDS TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_description" type="radio" default="0" label="SETTINGS FRONTEND EDIT DESCRIPTION" description="SETTINGS FRONTEND EDIT DESCRIPTION TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_description_allow_editor" type="radio" default="1" label="SETTINGS FRONTEND EDIT DESCRIPTION ALLOW EDITOR" description="SETTINGS FRONTEND EDIT DESCRIPTION ALLOW EDITOR TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_registration" type="radio" default="0" label="SETTINGS FRONTEND EDIT REGISTRATION" description="SETTINGS FRONTEND EDIT REGISTRATION TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_registration_end" type="radio" default="1" label="SETTINGS FRONTEND EDIT REGISTRATION END" description="SETTINGS FRONTEND EDIT REGISTRATION END TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_price" type="radio" default="0" label="SETTINGS FRONTEND EDIT PRICE" description="SETTINGS FRONTEND EDIT PRICE TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="edit_credits" type="radio" default="0" label="SETTINGS FRONTEND EDIT CREDITS" description="SETTINGS FRONTEND EDIT CREDITS TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
 	</params>
 	
 	<params group="registration">
    <param name="registration_default_recipients" type="text" default="" size="80" label="REDEVENT_SETTINGS_REGISTRATION_DEFAULT_RECIPIENTS" description="REDEVENT_SETTINGS_REGISTRATION_DEFAULT_RECIPIENTS_TIP"/>
    <param name="registration_notify_creator" type="radio" default="1" label="REDEVENT_SETTINGS_REGISTRATION_NOTIFY_CREATOR" description="REDEVENT_SETTINGS_REGISTRATION_NOTIFY_CREATOR_TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
 		<param name="registration_notification_subject" type="text" size="80" default="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_SUBJECT_DEFAULT" label="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_SUBJECT" description="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_SUBJECT_TIP" />
 		<param name="registration_notification_body" type="textarea" cols="80" rows="5" default="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_BODY_DEFAULT" label="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_BODY" description="REDEVENT_SETTINGS_REGISTRATION_NOTIFICATION_BODY_TIP" />
 	</params>
 	
 	<params group="REDEVENT_SETTINGS_REMINDER">
		<param name="reminder_status" type="list" default="1" label="REDEVENT_SETTINGS_REMINDER_STATUS_LABEL" description="REDEVENT_SETTINGS_REMINDER_STATUS_DESC">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="reminder_days" type="text" size="2" default="14" label="REDEVENT_SETTINGS_REMINDER_DAYS_LABEL" description="REDEVENT_SETTINGS_REMINDER_DAYS_DESC" />
		<param name="reminder_subject" type="text" size="80" default="REDEVENT_SETTINGS_REMINDER_SUBJECT_DEFAULT" label="REDEVENT_SETTINGS_REMINDER_SUBJECT_LABEL" description="REDEVENT_SETTINGS_REMINDER_SUBJECT_DESC" />
		<param name="reminder_body" type="textarea" cols="80" rows="5" default="REDEVENT_SETTINGS_REMINDER_BODY_DEFAULT" label="REDEVENT_SETTINGS_REMINDER_BODY_LABEL" description="REDEVENT_SETTINGS_REMINDER_BODY_DESC" />
 	</params>
 	
 	<params group="sh404sef">
    <param name="sh404sef_always_include_menu_title" type="radio" default="0" label="REDEVENT_SH404SEF_ALWAYS_INSERT_MENU_TITLE" description="REDEVENT_SH404SEF_ALWAYS_INSERT_MENU_TITLE_TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
    <param name="sh404sef_always_include_itemid" type="radio" default="0" label="REDEVENT_SH404SEF_ALWAYS_INSERT_ITEMID" description="REDEVENT_SH404SEF_ALWAYS_INSERT_ITEMID_TIP">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </param>
 	</params>
</config>