<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="general" label="COM_REDEVENTSYNC_SETTINGS_GENERAL_LABEL"
			  description="COM_REDEVENTSYNC_SETTINGS_GENERAL_DESC">
		<field
				name="archive_path"
				type="text"
				label="COM_REDEVENTSYNC_SETTINGS_ARCHIVE_PATH_LABEL"
				description="COM_REDEVENTSYNC_SETTINGS_ARCHIVE_PATH_DESC"
		/>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_redeventsync"
			section="component" />
	</fieldset>
</config>
